9

Plants\plants.data
Plants\plants.valid.data
Plants\plants.test.data


accidents\accidents.ts.data
accidents\accidents.valid.data
accidents\accidents.test.data

ad\ad.ts.data
ad\ad.valid.data
ad\ad.test.data

audio\baudio.ts.data
audio\baudio.valid.data
audio\baudio.test.data

dna\dna.ts.data
dna\dna.valid.data
dna\dna.test.data

Eachmovie\tmovie.ts.data
Eachmovie\tmovie.valid.data
Eachmovie\tmovie.test.data

Jester\jester.ts.data
Jester\jester.valid.data
Jester\jester.test.data

Kosarak\kosarek.ts.data
Kosarak\kosarek.valid.data
Kosarak\kosarek.test.data

NLTCS\nltcs.ts.data
NLTCS\nltcs.valid.data
NLTCS\nltcs.test.data


book\book.ts.data
book\book.valid.data
book\book.test.data


msweb\msweb.ts.data
msweb\msweb.valid.data
msweb\msweb.test.data

r52\r52.ts.data
r52\r52.valid.data
r52\r52.test.data


Netflix\bnetflix.ts.data
Netflix\bnetflix.valid.data
Netflix\bnetflix.test.data

20ng\small20ng.ts.data
20ng\small20ng.valid.data
20ng\small20ng.test.data

MSNBC\msnbc.ts.data
MSNBC\msnbc.valid.data
MSNBC\msnbc.test.data

webkb\cwebkb.ts.data
webkb\cwebkb.valid.data
webkb\cwebkb.test.data

kdd\kdd.ts.data
kdd\kdd.valid.data
kdd\kdd.test.data


